@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --toastify-color-success: theme('colors.green.500');
    --toastify-color-error: theme('colors.red.500');
    --toastify-color-info: theme('colors.blue.500');
  }
}